<%= form_with(model: post, class: "contents") do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :大喜利画像 %><br>

    <% if post.image.present?  %>
      <%= image_tag post.image, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2" %>
    <% else %>
      <%= link_to "画像を再取得", new_post_path(fetch_images: true), method: :get, class: 'btn btn-primary' %>
      <img src="<%= @image %>" alt="Shibe Image" width="500", class="block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2">
    <% end %>
  </div>
  <div class="my-5">
    <%= form.label :タイトル %>
    <%= form.text_area :title, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="my-5">
    <%= form.label :内容 %>
    <%= form.text_area :body, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <%= form.hidden_field :image, value: @image %>

  <div class="inline my-5">
    <%= form.submit "投稿する", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
